.home-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    min-height: calc(100vh - 70px - 50px);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    gap: 20px;
    max-width: 50%;
}

.content h1 {
    font-size: 40px;
    font-weight: 500;
    margin: 20px 0 0 0;
}

.content p {
    font-size: 18px;
    color: #5f6368;
}

.function {
    display: flex;
    gap: 2.5%;
    height: 35px;
}

.function__create-room {
    background: rgba(88, 101, 242, 1);
    color: white;
    font-family: inherit;
    font-size: 17px;
    font-weight: 500;
    justify-content: space-around;
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    position: relative;
    min-width: fit-content;
    height: 100%;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.function__create-room:hover {
    background: rgba(88, 101, 242, 0.8);
    box-shadow: 0 0 10px rgba(88, 101, 242, 0.8);
}

.function__join-room {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 100%;
    gap: 10px;
}

.join-room__input {
    font-size: 18px;
    padding: 5px 0px 5px 100px;
    width: 100%;
    padding-left: 35px;
    outline: none;
    background: #ffffff;
    color: #000000;
    border: 1px solid #c4d1eb;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 0px #e2e2e2;
    transition: 0.3s ease;
}

.join-room__input:focus {
    background: #f2f2f2;
    border: 1px solid #5a7ec7;
    border-radius: 10px;
}

.join-room__paste {
    position: absolute;
    left: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #5a7ec7;
}

.join-room__button {
    background: rgba(88, 101, 242, 1);
    color: white;
    font-family: inherit;
    font-size: 17px;
    font-weight: 500;
    text-align: left;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    min-width: 115px;
    height: 100%;
    padding-right: 25px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.join-room__button:hover {
    background: rgba(88, 101, 242, 0.8);
    box-shadow: 0 0 10px rgba(88, 101, 242, 0.8);
}

.join-room__button-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 10px #7a8cf3;
    right: 5px;
    transition: all 0.3s;
}

.join-room__button:hover .join-room__button-icon {
    box-shadow: 0 0 10px rgba(87, 91, 143, 0.8);
}

.carousel {
    text-align: center;
    min-width: 450px;
    width: 450px;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.carousel__text {
    font-size: 18px;
    margin: 10px 0;
    transition: all 1s ease-in-out;
    opacity: 0;
}

.carousel__text--active {
    opacity: 1;
}

.carousel__dots {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.carousel__dot {
    width: 10px;
    height: 10px;
    background-color: #a7a9ad;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 1s ease;
}

.carousel__dot--active {
    background-color: #7bbae0;
}

.carousel__thumbnails {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;

    i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        color: #5f6368;
        cursor: pointer;
        transition: font-size 0.3s ease;
    }

    .thumbnail__prev {
        left: 75px;
    }

    .thumbnail__next {
        right: 75px;
    }

    i:hover {
        font-size: 30px;
    }

    .thumbnail__image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        transition: all  1s ease-in-out;
        opacity: 0;
    }

    .thumbnail__image--active {
        opacity: 1;
    }

}
.carousel__description {
    font-size: 20px;
    color: #000000;
}


.link {
    color: #1a73e8;
    text-decoration: none;
}