:root {
    --main-color: #0e4274;
    --font-color: #faebef;
  }
  
  @import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
  
  .wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .reset-container {
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    /* overflow: hidden; */
    width: 550px;
    max-width: 100%;
    min-height: 400px;
    transition: transform 2s ease-in;
    h1 {
      margin: 0;
    }
  
    p {
      font-size: 14px;
      font-weight: 100;
      line-height: 20px;
      letter-spacing: 0.5px;
      margin: 20px 0 30px;
    }
  
    span {
      font-size: 12px;
    }
  
    a {
      cursor: pointer;
      color: #333;
      font-size: 14px;
      text-decoration: none;
    }
  
    button {
      border-radius: 20px;
      border: 1px solid lightblue;
      background-color: var(--main-color);
      color: white;
      font-size: 12px;
      font-weight: bold;
      padding: 12px 45px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: transform 80ms ease-in;
      cursor: pointer;
    }
  
    button:active {
      transform: scale(0.95);
    }
  
    button:focus {
      outline: none;
    }
  
    button.ghost {
      background-color: transparent;
      border-color: var(--font-color);
      color: var(--font-color);
    }
  
    .form-reset {
      position: relative;
      /* background-color: #333; */
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      flex-direction: column;
      box-sizing: border-box;
      padding: 50px;
      height: 100%;
      text-align: center;
  
      .input-form {
        position: relative;
        width: 100%;
  
        .message {
          position: absolute;
          bottom: -10px;
          left: 0;
          color: firebrick;
          width: fit-content;
        }
  
        input {
          background-color: #eee;
          border: none;
          padding: 12px 0 12px 3px;
          margin: 8px 0;
          width: 100%;
        }
        .input.input--error {
          border: 2px solid red;
        }
      }
  
  
      form {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-direction: column;
        box-sizing: border-box;
        text-align: center;
        width: 100%;
  
  
        .input-form {
          width: 100%;
          position: relative;
  
          .message {
            position: absolute;
            bottom: -10px;
            left: 0;
            color: firebrick;
            width: fit-content;
          }
  
          input {
            background-color: #eee;
            border: none;
            padding: 12px 15px;
            margin: 8px 0;
            width: 100%;
          }
          .input.input--error {
            border: 2px solid red;
          }
        }
      }
    }
  }  