.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #dadce0;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__left img {
    height: 40px;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 20px;

    i {
        font-size: 20px;
        color: #5f6368;
    }

    .header__right img {
        height: 40px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
    }
}